// 颜色系
$g-green:#28a92b;
$g-color-shockingly-green: #0ae448;
$g-green-dark: #4e9815;
$g-green-light: #6fb936;

$g-dark: #1d1d1d;
$g-grey-dark: #414141;
$g-light: #fff;
$g-mid: #bbbaa6;
$g-grey: #989898;
$g-gray: #989898;
$g-blue: #2c7ad2;
$g-purple: #8d3dae;
$g-red: #c82736;
$g-orange: #e77614;

$g-color-just-black: #0e100f;
$g-color-surface-white: #fffce1;
$g-color-pink: #fec5fb;
$g-color-shockingly-pink: #f100cb;
$g-color-orangey: #ff8709;
$g-color-lilac: #9d95ff;
$g-color-lt-green: #abff84;
$g-color-blue: #00bae2;
$g-color-grey: gray;
$g-color-surface75: #bbbaa6;
$g-color-surface50: #7c7c6f;
$g-color-surface25: #42433d;

// 大小系
$g-width:75px;
$g-height:75px;
$g-border-radius:12px;

